################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/SeleniumFixture/obj/Debug
/src/SeleniumFixture/bin/Debug
/src/SeleniumFixture.xUnit/obj/Debug
/src/SeleniumFixture.xUnit/bin/Debug
*.suo
